#set($subject = "$device.name: alarm!")
<!DOCTYPE html>
<html>
<body>
¡Alarma!
Dispositivo: $device.name<br>
Tipo:  $position.getString("alarm")<br>
Hora: $dateTool.format("YYYY-MM-dd HH:mm:ss", $event.serverTime, $locale, $timezone)<br>
Ubicación: <a href="https://maps.google.com/?q=$position.latitude,$position.longitude">#{if}($position.address)$position.address#{else}$position.latitude&deg;, $position.longitude&deg;#{end}</a><br>
</body>
</html>  
